


.subscribe{
  position:fixed;
  bottom:0;
  right:20px;
  margin-bottom: 15px;
  background: #dadada;
  border-radius:10px 3px 3px 10px;
  opacity: .7;
}
.email-label{
	color: #a3a3a3;
}

.navbar-brand img{
	height: 30px;
	opacity: 0.8;
	margin-top:-5px;
	margin-left: -10px;
}
















@media screen and(max-width: 768px){
	.subscribe{
		margin-bottom: -10px;
		margin-right: -10px;
	}
}

