


.subscribe{
  position:fixed;
  bottom:0;
  right:20px;
  margin-bottom: 15px;
  background: #dcdcdc;
  border-radius:10px 3px 3px 10px;
}

.navbar-brand img{
	height: 30px;
	opacity: 0.8;
	margin-top:-5px;
	margin-left: -10px;
}











